{{#if candidate}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>

<form action="/candidates" method="post">
  <input type="text" name= "candidate[name]" placeholder="Name" />
  <input type="number" name="candidate[year]" placeholder="Year" />
  <button type="submit">Run for Office</button>
</form>

{{else}}
<h2>That candidate couldn't be found!</h2>
{{/if}}
