<!DOCTYPE html>
<html>
  <head>
    <title>When President</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <h1><a href="/">When President...</a></h1>
    {{{body}}}
  </body>
</html>
