<!DOCTYPE html>
<html>
  <head>
    <title>When President</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="/public/js/app.js"></script>
    <base href="/"></base>
  </head>
  <body data-ng-app="whenPresident">
    <h1><a data-ui-sref="welcome">When President...</a></h1>
    <main data-ui-view></main>
  </body>
</html>
